*, .alegreya-sans-bold {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:white;
}
*{
    margin:0px;
}
.alegreya-sans-black {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
}


header{
    position: absolute;
    width:100%;
    height:5.5vw;
    background-color: rgba(115, 115, 115, 0);
    z-index: 1;
}

#background-video{
    position:absolute;
    z-index:-1;
    width:100%;
    height:100%;
    filter: brightness(50%);
    object-fit:cover;
}

body{
    margin:0px;
}

#logo{
    height:100%;
    width:auto
}
.link-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    column-gap: 100px;
}
.header-content-container{
    margin-inline:30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height:100%;
}
.header-link{
    color:white;
    font-size: 18pt;
}
.header-link:hover{
    cursor:pointer;
}

#title-section{
    background-image: url("https://openaicomproductionae4b.blob.core.windows.net/production-twill-01/c74791d0-75d2-48e6-acae-96d13bc97c56/paper-planes.mp4");
    background-repeat: no-repeat;
    background-size:cover;
    height:auto;
    width:100%;
    color:white;
    font-size:48pt;
    position: relative;
}

.fade{
    height: 45%;
    width: 100%;
    background-color: rgba(128, 0, 32, .65);
    position: relative;
}

.triangle-container{
    height: 10%;
    width: 100%;
    position: relative;
}


.triangle{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 100px solid rgb(128, 0, 32);
    position: absolute;
    bottom: 0;
}

.title-container{
    padding-top:5.5vh;
    display:flex;
    justify-content: center;
    align-items:center;
    height:68%;

}

.title-container h1{
    text-align: center;
}

.heading{
    font-size: 80px;
    text-align: center;
    padding:20px;
    padding-bottom:30px;
}

.text-left{
    text-align: left;
}

.text{
    border-top:solid;
    border-bottom:solid;
    margin:20px;
    width: 25vw;
    text-align:center;
    margin-right:65px;
}


.inverse-triangle{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 100px solid rgb(128, 0, 32);
    position: absolute;
    top: 0;
}

#about-section{
    flex-direction: column;
    position:relative;
    height: auto;
    background-color: rgb(128, 0, 32);
}

#about-info{
    display: grid;
    grid-template-columns:1fr 2fr;
    align-items: center;
    justify-items: center;
    grid-column-gap:30px;
    padding:5%;  
}

#about-img{
    width:100%;
    border-radius: 30px;
    border: solid 5px;
}
#about-desc{
    padding-block: 10px;
    border-top: solid;
    border-bottom: solid;
    font-size:2em;
    text-align: center;
}
#about-frc-section{
    background-image: url("frc.webp");
    background-repeat: no-repeat;
    background-size:cover;
    height:auto;
    box-shadow: inset 0 0 0 1000px rgba(54, 1, 1, 0.75);
}
#about-frc-info{
    padding-block:5%;
    text-align: center;
    padding-inline:10%;
    overflow-wrap: break-word;
}
.sub-heading{
    font-size:300%;
}
.body-text{
    font-size:200%;
}
#stats-section{
    background-color: rgb(128, 0, 32);
}
#stat-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-block: 10%;
}
.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em
}
.stat-icon{
    font-size: 1000%;
}
#filler-image{
    height:40%;
    background-image: url("filler.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
}
#map-section{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}